<div class="col-md-10 col-md-offset-0">
    <a [routerLink]="['/login']" class="btn btn-link">Login or Register</a>
    <a [routerLink]="['/search-recipe']" class="btn btn-link">Search Recipe</a>
    <a [routerLink]="['/add-recipe']" class="btn btn-link">Add Recipe</a>
</div>
<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <router-outlet></router-outlet>
            <alert></alert>
        </div>
    </div>
</div>